.single-room {
    padding: 5rem 0 0 0;
}
.single-room-images {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}
.single-room-images img {
    width: 100%;
    display: block;
}
.single-room-info {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
}
.desc,
.info {
    margin: 1rem 0;
}
.desc h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.desc p {
    line-height: 1.5;
}
.info h3,
.info h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.info h6 {
    font-weight: 300;
}
.room-extras {
    width: 80vw;
    margin: 0 auto 3rem auto;
}
.room-extras h6 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}
.extras {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
