* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
    padding-top: 66px;
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.btn-primary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    background: var(--primaryColor);
    padding: 0.4rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
}
.btn-primary:hover {
    background: transparent;
    color: var(--primaryColor);
}
.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}
.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
}
/* end of globals */

/* Media Queries */
@media screen and (min-width: 576px) {
    .banner {
        padding: 2rem 3rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
    }
    .nav-links {
        height: auto;
        display: flex;
        margin-left: 4rem;
    }
    .nav-links li {
        display: flex;
    }
    .nav-links a {
        margin: 0 1rem;
        padding: 0.5rem 0;
    }
    .featured-rooms-center {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    .filter-form {
        width: 70vw;
    }
    .roomslist-center {
        width: 90vw;
    }
}

@media screen and (min-width: 992px) {
    .banner {
        padding: 2rem 6rem;
    }
    .banner h1 {
        font-size: 4rem;
    }
    .featured-rooms-center {
        width: 95vw;
        max-width: 1170px;
    }
    .filter-form {
        width: 95vw;
        max-width: 1170px;
    }
    .roomslist-center {
        width: 95vw;
        max-width: 1170px;
    }
    .services-center {
        width: 95vw;
        max-width: 1170px;
    }
    .single-room-images,
    .single-room-info,
    .room-extras {
        width: 95vw;
        max-width: 1170px;
    }
    .single-room-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
    .info {
        padding-left: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .services p {
        width: 100%;
    }
}


